* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;
}
@font-face {
    font-family:manrope ;
    src: url(./fonts/Manrope-VariableFont_wght.woff2);
}
main{
  min-height: 100vh;
  width: 100%;
  background: #000000;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 150px 1fr;
}
.wrapper{
    height: 100%;
    width: 100%; 
}
.nav-bar{
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  padding: 0rem 0.5rem;
  display: grid; 
  grid-template-columns: 1fr 3fr 1fr; 
  align-items: center;
  height: 70%;
}
.my-profile img{
  border-radius: 50%;
  height: 2.5rem;
  
}
.page1{
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center; 
}

.sheryians-logo img{
  display: flex;
  align-items: center;
  margin-left: 3rem;
  height: 2.1rem;
}

.logo-text h3{
  font-size: 18px;
  font-weight: 600;
}

.logo-text p{
  font-size: 14px;
  opacity: 0.7;
}


.nav-icons{
  display: flex;
  gap: 35px;
  padding: 0.9rem 1.5rem;
 display: inline-flex;
  width: fit-content; 
    margin: 0 auto; 
  background: #140F0F;
  border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow:  0px 0px 0px rgba(255, 255, 255, 0.387), 1px 1px 2px #312828, 0px 0px 40px #0000007b;
  border-radius: 5px;
 
}

/* LINKS */
.nav-icons a{
 
  font-family: manrope;
  text-decoration: none;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.65);
  font-weight: 500;
  transition: 0.3s ease;
}

/* Right profile */
.my-profile{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-right: 60px;
}
.page1-top-text{
  grid-column: 2 / 3;  /* ✅ center column */
  text-align: center;
  color: white;
  display: grid;
  gap: 18px;
}
.page1-top-text h3{
  color: orange;
  font-size: 14px;
  letter-spacing: 2px;
}

.page1-top-text h1{
  font-size: 60px;
  font-weight: 300;
  line-height: 1.1;
}

.page1-top-text h1 span{
  border: 1px solid orange;
  padding: 5px 15px;
}

.page1-top-text h2{
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
}
.users{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.avatars{
  display: flex;
}

.avatars img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: -10px;
  border: 2px solid black;
}

.users h5{
  font-size: 14px;
  opacity: 0.8;
}

.users h5 span{
  color: orange;
  font-weight: 600;
}
.page1-btn button{
  padding: 14px 35px;
  border: none;
  border-radius: 12px;
  background: orange;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
