@font-face {
  font-family: font1;
  src: url("./1ZFS7N918ojhhd0nQWdj3jz4w.woff2");
}

@font-face {
  font-family: font2;
  src: url("./7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2");
}

@font-face {
  font-family: font3;
  src: url("./GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2");
}

@font-face {
  font-family: font4;
  src: url("./jizHRFtNs2ka5fXjeivQ4LroWlx-6zAjjH7M.woff2");
}

@font-face {
  font-family: font5;
  src: url("./KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2");
}

@font-face {
  font-family: font6;
  src: url("./vQyevYAyHtARFwPqUzQGpnDs.woff2");
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,
body {
height: 100%;
width: 100%;

  overflow-x: hidden;
  overflow-y: auto;
  
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 80px;
  margin-bottom: 30px;
}

nav h3{
  font-family: font1;
  font-size: 22px;
  font-weight: 600;
}

.nav-items{
  display: flex;
  gap: 28px;
}

.nav-items h4{
  font-family: font6;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.8;
  cursor: pointer;
}

.btn{
  padding: 10px 18px;
  border-radius: 50px;
  border: 1px solid black;
  outline: none;
  background: transparent;
  font-family: font6;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;

  cursor: pointer;
}
.center1 .btn{
 padding: 20px 25px;
  border-radius: 50px;
  border: 1px solid black;
  outline: none;
  background: transparent;
  font-family: font6;
  font-size: 15px;
  font-weight: 100;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-transform: uppercase;

}

.btn i{
  font-size: 18px;
}
.center1{
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
 flex-direction: column;
 margin-top: 50px;
 /* background-color: aqua; */

}

.center-1-items{
  display: flex;
  align-items: center;
  flex-direction: column;
 
  gap: 14px;
  text-align: center;
}
.center-1-items h2{
  font-family: font4;
  font-weight: 100;
  font-size: 22px;
  font-style: italic;
  opacity: 0.8;
  margin-top: 20px;
}

.center-1-items h1{
  font-family: font2;
  font-size: 78px;   
  line-height: 0.95;
  font-weight: 900;
  margin-top: 5px;
  line-height: 1.1;
}

.center-1-items p{
  font-family: font6;
  width: 620px;
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.7;
  margin-top: 10px;
}
.hero-visual{
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: 40px;
  overflow: hidden;
}


.gradient{
  position: absolute;
  left: 50%;
  bottom:10%;
  transform: translateX(-50%) rotate(-10deg);

  width: 120%;
  height:300px;

  background: linear-gradient(
    to bottom,
    rgb(243, 133, 73),
    rgb(177, 68, 204),
    rgb(228, 76, 195)
  );

  filter: blur(120px);
  opacity: 0.9;
  z-index: 1;
 
}

.img-iphone{
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);

  height: 620px;
  z-index: 5;
}
